body {
    font-family: Avant Garde,Gill Sans,Century Gothic,sans-serif;
}

.cs {
    color: #009FE3;
}

#title-image {
    margin: 0 auto;
    width: 33%;
}

#title-text {
    text-align: center;
    text-transform: uppercase;
}
